<div class="h-fit bg-fuchsia-900 p-4 flex flex-grow">
    <mat-icon class="mr-2">
        local_mall
    </mat-icon>
    <span class="text-3xl text-white kaushan-script-regular">Shopping Lis</span>
    <span class="grow"></span>
    <div class="indicator mr-8">
        <span class="indicator-item badge badge-secondary rounded-full">{{cantidadProductosCarrito()}}</span>
        <button class="p-2">
            <mat-icon>
                shopping_cart
            </mat-icon>
        </button>
    </div>
</div>